@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*===== Variables ======*/
:root {
  /* Colors */
  --primary-color: rgba(50, 186, 240, 1);
  --secondary-color: rgba(147, 23, 235, 1);
  --background-color: rgb(225, 233, 241);
  --text-color: rgb(43, 43, 43, 1);
  --nav-color: rgba(50, 186, 240, 0.3);
  --text-color-accent: rgba(115, 251, 211, 1);
  --shadow-color: rgba(147, 23, 235, 0.2);
  --shadow-color-accent: rgba(115, 251, 211, 0.2);

  /* Shadows */
  --main-shadow: 0 8px 16px -2px var(--shadow-color);
  --shadow-hover: 0 8px 16px -5px var(--text-color-accent);
}

/* ===== Reset Styles ======*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

/*===== Global ======*/
html {
  scroll-behavior: smooth;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

/*===== NavBar ======*/
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  width: clamp(312px, 95dvw, 800px);
  position: sticky;
  top: 24px;
  right: calc(50% - 400px);
  backdrop-filter: blur(52px);
  border-radius: 200px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--nav-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
  font-size: clamp(12px, 4vw, 18px);
}

.nav-bar a {
  padding: 8px;
  margin: 0 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}

.nav-bar a:active {
  color: var(--text-color-accent);
  background-color: var(--shadow-color);
  scale: 0.9;
}

.nav-bar svg {
  margin-right: 12px;
}

/*===== Header ======*/

.header {
  padding: 4px;
  background: linear-gradient(145deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%);
  width: 100dvw;
  color: white;
  height: 500px;
  position: relative;
  top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(14px, 4vw, 24px);
}

.header h1 {
  font-size: clamp(75px, 5vw, 120px);
  margin-bottom: 16px;
  animation: pulsate-bck-normal 1s ease 0s infinite normal none;
  color: var(--text-color-accent);
}

.header p {
  text-align: center;
}

/*===== About ======*/
.about {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: -217px;
  width: clamp(312px, 95dvw, 800px);
  padding: clamp(20px, 5vw, 32px) clamp(16px, 5vw, 32px);
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: var(--main-shadow);
  backdrop-filter: blur(52px);
  transition: all 0.3s ease;
}

.about h2 {
  margin-bottom: 12px;
  font-size: clamp(24px, 5vw, 48px);
  color: white;
}

.about p {
  font-size: clamp(14px, 4vw, 20px);
  color: var(--text-color);
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;
  transition: all 0.3s ease;
}

.stats article {
  border: 1px solid var(--shadow-color);
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.stats h3 {
  font-size: clamp(32px, 5vw, 48px);
  color: var(--text-color);
}

.stats p {
  font-size: clamp(12px, 4vw, 20px);
  color: var(--text-color);
  margin-top: 4px;
}

/*===== Modules ======*/
.modules {
  padding: clamp(20px, 5vw, 32px) clamp(16px, 5vw, 32px);
  margin-top: -150px;
  transition: all 0.3s ease;
  width: clamp(312px, 95dvw, 800px);
  margin: 0 auto;
}

.modules div {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.modules h2 {
  font-size: clamp(24px, 5vw, 48px);
  margin-bottom: 40px;
}

.modules-article {
  padding: clamp(20px, 5vw, 32px) clamp(16px, 5vw, 32px);
  border: 1px solid var(--shadow-color);
  border-radius: 24px;
  width: 450px;
  background: linear-gradient(135deg,
      rgba(50, 186, 240, 0.08) 0%,
      rgba(147, 23, 235, 0.08) 100%);
  width: clamp(100%, 45%, 800px);

}

.modules-article h3 {
  font-size: clamp(20px, 5vw, 48px);
  margin-bottom: 16px;
}

.modules-article p {
  font-size: clamp(12px, 4vw, 16px);
  margin-bottom: 20px;
  line-height: 1.5;
}

.modules-article li {
  font-size: clamp(12px, 4vw, 15px);
  margin-left: 16px;
  margin-top: 8px;
}

/*===== Contact ======*/
.contact {
  padding: clamp(20px, 5vw, 32px) clamp(16px, 5vw, 32px);
  transition: all 0.3s ease;
  width: clamp(312px, 95dvw, 800px);
  margin: 0 auto;
}

.contact div {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--shadow-color);
  border-radius: 24px;
  padding: clamp(20px, 5vw, 32px) clamp(16px, 5vw, 32px);
  background: linear-gradient(135deg,
      rgba(50, 186, 240, 0.08) 0%,
      rgba(147, 23, 235, 0.08) 100%);
}

.contact h2 {
  font-size: clamp(20px, 5vw, 48px);
  margin-bottom: 16px;
  text-align: center;
}

.contact p {
  font-size: 14px;
  margin-bottom: 24px;
  text-align: center;
  line-height: 1.5;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact form label {
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 600;
  margin-top: 16px;
}

.contact form input,
.contact form select {
  padding: 12px;
  border: 1px solid var(--shadow-color);
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s ease;
  outline: none;
}

.contact form input:hover,
.contact form select:hover,
.contact form input:focus,
.contact form select:focus,
.contact form input:active,
.contact form select:active {
  border-color: var(--text-color-accent);
}

.contact form button {
  margin-top: 16px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--main-shadow);
}

.contact form button:hover {
  box-shadow: var(--shadow-hover);
  scale: 1.05;
  color: var(--text-color-accent);
}

.contact .plus {
  font-size: 12px;
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 0;
  text-align: center;
}

/*===== Footer ======*/
.finish {
  display: absolute;
  bottom: 0;
  padding: 16px;
  background: linear-gradient(145deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%);
  font-size: 12px;
  text-align: center;
  color: white;
}

.finish div {
  margin-top: 8px;
}

.finish ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.finish ul li a {
  color: white;
  transition: all 0.3s ease;
}

/*===== Animations ======*/
@keyframes pulsate-bck-normal {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/*===== Media Queries ======*/
@media (min-width: 769px) {
  .nav-bar a:hover {
    color: var(--text-color-accent);
    background-color: var(--shadow-color);
    scale: 1.2;
  }

  .about:hover,
  .modules-article:hover {
    scale: 1.1;
    border: 1px solid var(--text-color-accent);
    /* box-shadow: var(--shadow-hover); */
  }

  .nav-bar a:active {
    color: var(--text-color-accent);
    background-color: var(--shadow-color);
    scale: 0.9;
  }

  .stats {
    flex-direction: row;
  }

  .stats article:hover {
    /* scale: 1.05; */
    transform: translateY(-8px);
    background-color: var(--shadow-color-accent);
    border: 1px solid var(--text-color-accent);
  }

  .finish ul li a:hover {
    color: var(--text-color-accent);
    text-decoration: underline;
    scale: 1.05;
  }
}