@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*===== Variables ======*/
:root {
  --primary-color: rgba(50, 186, 240, 1);
  --secondary-color: rgba(147, 23, 235, 1);
  --background-color: rgb(225, 233, 241);
  --text-color: rgba(43, 43, 43, 1);
  --accent-color: rgba(50, 186, 240, 0.3);
  --accent-color-hover: rgba(115, 251, 211, 1);
}

/* ===== Reset Styles ======*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

/*===== Global ======*/
html {
  scroll-behavior: smooth;
  color: var(--text-color);
  font-size: clamp(14px, 4vw, 24px);
}
body {
  background-color: var(--background-color);
}

/*===== NavBar ======*/
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  width: clamp(312px, 80dvw, 500px);
  position: sticky;
  top: 24px;
  right: calc(50% - 250px);
  backdrop-filter: blur(52px);
  border-radius: 200px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  background-color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
}
.nav-bar a {
  padding: 8px;
  margin: 0 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}

.nav-bar a:active {
  color: var(--accent-color-hover);
  background-color: var(--secondary-color);
  scale: 0.9;
}
.nav-bar svg {
  margin-right: 12px;
}

/*===== Header ======*/

.header {
  padding: 4px;
  background: linear-gradient(
    145deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  width: 100dvw;
  color: white;
  height: 500px;
  position: relative;
  top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  font-size: clamp(75px, 5vw, 120px);
  margin-bottom: 16px;
  animation: pulsate-bck-normal 1s ease 0s infinite normal none;
}

/* .about {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: -175px;
  color: rgb(43, 43, 43);
  width: 70dvw;
  padding: 32px;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(52px);
}*/
/*
.about h2 {
  color: white;
  margin-bottom: 12px;
  font-size: 32px;
}

.about p {
  font-size: 16px;
}

.modules {
  padding: 40px;
  margin-top: -120px;
  color: rgb(110, 110, 110);
}

.modules div {
  display: flex;
}

.modules h2 {
  margin-bottom: 32px;
}

.modules-article {
  padding: 32px;
  margin: 16px;
  border: 1px solid rgb(110, 110, 110);
  border-radius: 24px;
  width: 450px; 
}*/
/* .about:hover,
.modules-article:hover {
    scale: 1.1;
    box-shadow: 0 10px 15px -3px #73fbd3, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: black;
} */

/* .modules-article h3 {
  color: rgb(49, 49, 49);
  margin-bottom: 16px;
}

.finish {
  display: absolute;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 24px;
} */

/*===== Animations ======*/
@keyframes pulsate-bck-normal {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/*===== Media Queries ======*/
@media (min-width: 769px) {
  .nav-bar a:hover {
    color: var(--accent-color-hover);
    background-color: var(--secondary-color);
    scale: 1.2;
  }
}
