@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*===== Variables ======*/
:root {
  /* Colors */
  --primary-color: rgba(50, 186, 240, 1);
  --secondary-color: rgba(147, 23, 235, 1);
  --background-color: rgb(225, 233, 241);
  --text-color: rgba(43, 43, 43, 1);
  --nav-color: rgba(50, 186, 240, 0.3);
  --text-color-accent: rgba(115, 251, 211, 1);
  --shadow-color: rgba(147, 23, 235, 0.2);

  /* Shadows */
  --main-shadow: 0 8px 16px -2px var(--shadow-color);
  --shadow-hover: 0 10px 15px -3px var(--text-color-accent);
}

/* ===== Reset Styles ======*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

/*===== Global ======*/
html {
  scroll-behavior: smooth;
  color: var(--text-color);
}
body {
  background-color: var(--background-color);
}

/*===== NavBar ======*/
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  width: clamp(312px, 95dvw, 800px);
  position: sticky;
  top: 24px;
  right: calc(50% - 400px);
  backdrop-filter: blur(52px);
  border-radius: 200px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--nav-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999;
  font-size: clamp(12px, 4vw, 18px);
}
.nav-bar a {
  padding: 8px;
  margin: 0 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}

.nav-bar a:active {
  color: var(--text-color-accent);
  background-color: var(--shadow-color);
  scale: 0.9;
}
.nav-bar svg {
  margin-right: 12px;
}

/*===== Header ======*/

.header {
  padding: 4px;
  background: linear-gradient(
    145deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  width: 100dvw;
  color: white;
  height: 500px;
  position: relative;
  top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(14px, 4vw, 24px);
}

.header h1 {
  font-size: clamp(75px, 5vw, 120px);
  margin-bottom: 16px;
  animation: pulsate-bck-normal 1s ease 0s infinite normal none;
  color: var(--text-color-accent);
}
.header p {
  text-align: center;
}

/*===== About ======*/
.about {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: -217px;
  width: clamp(312px, 95dvw, 800px);
  padding: 32px;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: var(--main-shadow);
  backdrop-filter: blur(52px);
  transition: all 0.3s ease;
}
.about h2 {
  margin-bottom: 12px;
  font-size: 32px;
  color: white;
}

.about p {
  font-size: 16px;
  color: var(--text-color);
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;
  transition: all 0.3s ease;
}
.stats article {
  border: 1px solid var(--shadow-color);
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats h3 {
  font-size: clamp(32px, 5vw, 48px);
  color: var(--text-color);
}
.stats p {
  font-size: 12px;
  color: var(--text-color);
  margin-top: 4px;
}

/*
.modules {
  padding: 40px;
  margin-top: -120px;
  color: rgb(110, 110, 110);
}

.modules div {
  display: flex;
}

.modules h2 {
  margin-bottom: 32px;
}

.modules-article {
  padding: 32px;
  margin: 16px;
  border: 1px solid rgb(110, 110, 110);
  border-radius: 24px;
  width: 450px; 
}*/

/* .modules-article h3 {
  color: rgb(49, 49, 49);
  margin-bottom: 16px;
}

.finish {
  display: absolute;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 24px;
} */

/*===== Animations ======*/
@keyframes pulsate-bck-normal {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/*===== Media Queries ======*/
@media (min-width: 769px) {
  .nav-bar a:hover {
    color: var(--text-color-accent);
    background-color: var(--shadow-color);
    scale: 1.2;
  }
  .about:hover,
  .modules-article:hover {
    scale: 1.1;
    /* box-shadow: var(--shadow-hover); */
  }
  .nav-bar a:active {
    color: var(--text-color-accent);
    background-color: var(--shadow-color);
    scale: 0.9;
  }
  .stats {
    flex-direction: row;
  }
  .stats article:hover {
    scale: 1.05;
    background-color: rgba(115, 251, 211, 0.3);
    border: 1px solid var(--text-color-accent);
  }
}
